In [298]:
#import the csv file 
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import missingno as msno

Dataset = pd.read_csv('C:\\Users\\atang\\OneDrive\\Documents\\Data Science MSc\\Machine Learning\\COMP 1886 - Coursework\\COMP 1886 - Coursework datasetcsv.csv')
Dataset.head()

,Date,80% of the expenses were made by,80% of the expenses were made by .1,80% of the expenses were made in the following regions,Miscellaneous (£),Automotive Fuel (£),Entertainment (£),Food and Drink (£),"Pubs, restaurants and fast food (£)"
0,1 Jan 2020,Private sector,Male,E12000001,113.90,125.01,113.52,101.79,119.09
1,2 Jan 2020,Private sector,Female,E12000007,117.51,128.54,117.09,107.25,121.97
2,3 Jan 2020,Private sector,Female,E12000006,117.63,132.20,115.70,107.47,122.00
3,4 Jan 2020,Private sector,Female,E12000004,116.27,135.19,108.49,107.90,119.54
4,5 Jan 2020,Private sector,Female,E12000003,113.75,135.02,99.38,107.01,113.30

In [299]:
#from task 1, we noticed that the data type for all columns with figures/integers is float64 and such does not need to be converted to numeric format.

In [300]:
#Handle missing values of numeric columns
#check what columns have missing values  
Datasetnew = Dataset.isnull().sum()
print(Datasetnew)

Date                                                       0
80% of the expenses were made by                          82
80% of the expenses were made by .1                       46
80% of the expenses were made in the following regions     0
Miscellaneous (£)                                         15
Automotive Fuel (£)                                        0
Entertainment (£)                                         30
Food and Drink (£)                                         0
Pubs, restaurants and fast food (£)                        0
dtype: int64

In [301]:
#Fill in missing values with median as it is not affected by outliers
Dataset['Miscellaneous (£)'].fillna(Dataset['Miscellaneous (£)'].median(), inplace = True) 
Dataset['Entertainment (£)'].fillna(Dataset['Entertainment (£)'].median(), inplace = True)

In [302]:
#check if they are any more missing values to make sure the missing rows haven been filled in with median values
Datasetnew = Dataset.isnull().sum()
print(Datasetnew)

Date                                                       0
80% of the expenses were made by                          82
80% of the expenses were made by .1                       46
80% of the expenses were made in the following regions     0
Miscellaneous (£)                                          0
Automotive Fuel (£)                                        0
Entertainment (£)                                          0
Food and Drink (£)                                         0
Pubs, restaurants and fast food (£)                        0
dtype: int64

In [303]:
#Handle missing values of categorical columns
#Before doing so, it can be noticed that the second and third column in the dataset have the same title. This may be an issue when performing data cleaning and machine learning procedures. So it is important that, one of the column titles is renamed.
Dataset.rename(columns={'80% of the expenses were made by ': '80% of the expenses were made by1'}, inplace=True)
Dataset.rename(columns={'80% of the expenses were made by .1': '80% of the expenses were made by2'}, inplace=True)

#check if the changes have being made
Dataset.head()

,Date,80% of the expenses were made by1,80% of the expenses were made by2,80% of the expenses were made in the following regions,Miscellaneous (£),Automotive Fuel (£),Entertainment (£),Food and Drink (£),"Pubs, restaurants and fast food (£)"
0,1 Jan 2020,Private sector,Male,E12000001,113.90,125.01,113.52,101.79,119.09
1,2 Jan 2020,Private sector,Female,E12000007,117.51,128.54,117.09,107.25,121.97
2,3 Jan 2020,Private sector,Female,E12000006,117.63,132.20,115.70,107.47,122.00
3,4 Jan 2020,Private sector,Female,E12000004,116.27,135.19,108.49,107.90,119.54
4,5 Jan 2020,Private sector,Female,E12000003,113.75,135.02,99.38,107.01,113.30

In [304]:
#use the forward fill option to fill in missing rows in these columns

Dataset['80% of the expenses were made by1'].fillna(method='ffill', inplace=True) 
Dataset['80% of the expenses were made by2'].fillna(method='ffill', inplace=True)

C:\Users\atang\AppData\Local\Temp\ipykernel_12476\243082512.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  Dataset['80% of the expenses were made by1'].fillna(method='ffill', inplace=True)
C:\Users\atang\AppData\Local\Temp\ipykernel_12476\243082512.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  Dataset['80% of the expenses were made by2'].fillna(method='ffill', inplace=True)

In [305]:
#check if they are any more missing values to make sure the missing rows haven been filled in with median values
Datasetnew = Dataset.isnull().sum()
print(Datasetnew)

Date                                                      0
80% of the expenses were made by1                         0
80% of the expenses were made by2                         0
80% of the expenses were made in the following regions    0
Miscellaneous (£)                                         0
Automotive Fuel (£)                                       0
Entertainment (£)                                         0
Food and Drink (£)                                        0
Pubs, restaurants and fast food (£)                       0
dtype: int64

In [306]:
#check if values were inputted correctly
print(Dataset)

             Date 80% of the expenses were made by1  \
0      1 Jan 2020                    Private sector
1      2 Jan 2020                    Private sector
2      3 Jan 2020                    Private sector
3      4 Jan 2020                    Private sector
4      5 Jan 2020                    Private sector
...           ...                               ...
1442  13 Dec 2023                     Public sector
1443  14 Dec 2023                     Public sector
1444  15 Dec 2023                     Public sector
1445  16 Dec 2023                     Public sector
1446  17 Dec 2023                    Private sector

     80% of the expenses were made by2  \
0                                 Male
1                               Female
2                               Female
3                               Female
4                               Female
...                                ...
1442                              Male
1443                              Male
1444                              Male
1445                              Male
1446                              Male

     80% of the expenses were made in the following regions  \
0                                             E12000001
1                                             E12000007
2                                             E12000006
3                                             E12000004
4                                             E12000003
...                                                 ...
1442                                          E12000006
1443                                          E12000007
1444                                          S92000003
1445                                          E12000002
1446                                          E12000001

      Miscellaneous (£)  Automotive Fuel (£)  Entertainment (£)  \
0                113.90               125.01             113.52
1                117.51               128.54             117.09
2                117.63               132.20             115.70
3                116.27               135.19             108.49
4                113.75               135.02              99.38
...                 ...                  ...                ...
1442             137.50               153.44              85.91
1443             138.09               153.78              86.00
1444             139.11               154.57              86.52
1445             139.60               157.61              87.51
1446             140.08               158.97              88.85

      Food and Drink (£)  Pubs, restaurants and fast food (£)
0                 101.79                               119.09
1                 107.25                               121.97
2                 107.47                               122.00
3                 107.90                               119.54
4                 107.01                               113.30
...                  ...                                  ...
1442              148.46                                95.29
1443              148.85                                95.73
1444              148.92                                95.69
1445              149.24                                95.41
1446              149.36                                95.98

[1447 rows x 9 columns]

In [307]:
#Handling duplicates
#check if there are any duplicates to drop
print(Dataset.duplicated().sum())

0

In [308]:
#Handling outliers
#calculate and remove outliers
#define a function to calculate and return the outliers
def calculate_outliers(column_series):
    Q1 = column_series.quantile(0.25)
    Q3 = column_series.quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = column_series[(column_series < lower_bound) | (column_series > upper_bound)]
    return outliers

# Call the function for each column you want to find outliers for and print the results
print(calculate_outliers(Dataset['Automotive Fuel (£)']))
print(calculate_outliers(Dataset['Food and Drink (£)']))
print(calculate_outliers(Dataset['Miscellaneous (£)']))
print(calculate_outliers(Dataset['Entertainment (£)']))
print(calculate_outliers(Dataset['Pubs, restaurants and fast food (£)']))

#Results: from the results below, it can  be seen that there is an outlier in the automotive fuel column. However, this outlier will not be removed as it could signifier a large purchase performed by a bulk/wholesale buyer.

1323    500.0
Name: Automotive Fuel (£), dtype: float64
Series([], Name: Food and Drink (£), dtype: float64)
Series([], Name: Miscellaneous (£), dtype: float64)
Series([], Name: Entertainment (£), dtype: float64)
Series([], Name: Pubs, restaurants and fast food (£), dtype: float64)